/**=========================
	Author: Denthemes
	Author URI: https://themeforest.net/user/denthemes
	Description: Pixoraz - Business & Digital Services Landing Page
=========================**/

/**=========================
[Table of contents]

01. BODY
02. COMMON
03. LOADER
04. NAV MENU
05. SLIDER
06. BREADCRUMB
07. ERROR PAGE
08. WHO WE ARE
09. CLIENTS
10. COUNTER
11. SERVICES
12. PORTFOLIO
13. TEAM
14. GET A QUOTE
15. FAQ
16. BLOG
17. PEOPLE SAYS
18. CONTACT US
19. FOOTER
20. SUB FOOTER
=========================**/

/**=========================
	START BODY
=========================**/
::selection{
	color: #fff;
	background-color: #dc3545;
}
*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	font-size: 16px;
}
body{
	margin: 0px;
	padding: 0px;
	color: #343a40;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
/**=========================
	END BODY
=========================**/

/**=========================
	START COMMON
=========================**/

.Contenucenter {
	margin-bottom: auto;
	padding: 100px;
	text-align: center;
 
  }

.logoDesign{
	
	background-image: url(../images/Logo.png);
	background-size: cover;
	 
}
.myNaveStyle{
	padding-left:25px;
 

}


.myPagesStyle{
	padding-bottom: 10px;
	padding-top: 100px;
	padding-left:10px;
	padding-right: 25px;
	
}

.myPagesStyleText{
	height:80px;
	text-align:center;
	background-color: #343a40;
	color:white;
	padding-top:18px;
	padding-bottom:10px;
}

a{
	color: #343a40;
	text-decoration: none;
	outline: none;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
a:hover{
	text-decoration: none;
	outline: none;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
p{
    color: #666;
    line-height: 26px;
}
h1,h2,h3,h4,h5,h6{
	color: #343a40;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
span,
b{
	font-size: 100%;
}
hr{
	border-color: #eee;
}
figure{
	margin: 0px;
	padding: 0px;
}
blockquote{
	font-weight: 500;
	font-style: italic;
	font-size: 20px;
	padding: 30px;
	color: #fff;
	position: relative;
	margin-bottom: 30px;
}
blockquote:after{
	content: "\F756";
	font: normal normal normal 24px/1 "Material Design Icons";
	position: absolute;
	left: 10px;
	top: 5px;
	color: #fff;
	font-size: 60px;
	opacity: .3;
}
blockquote span{
	display: block;
	margin-top: 10px;
	font-size: 16px;
}

/* Btn */
button,
button:focus,
button:active,
button:hover{
	box-shadow: 0 0 0 0;
	outline: 0;
	text-transform: uppercase;
	text-decoration: none;
}
.btn{
	padding: 10px 25px;
	box-shadow: 0 0 0 0 !important;
	outline: 0 !important;
	border-radius: 0px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:focus,
.btn:active,
.btn:hover{
	text-decoration: none;
}
.btn:hover{
	background-color: #343a40;
	border-color: #343a40;
}
.btn-sm{
	padding: .25rem .5rem;
}
.theme-btn-none,
.theme-btn-none:focus,
.theme-btn-none:active,
.theme-btn-none:hover{
	background-color: transparent;
	outline: none;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.theme-btn-default{
	background-color: #dc3545;
	color: #fff;
}
.btn-active,
.theme-btn-default:hover{
	background-color: #343a40;
	color: #fff;
}
.theme-btn-default-two{
	background-color: #343a40;
	color: #fff;
}
.theme-btn-default-two:hover{
	background-color: #dc3545;
	color: #fff;
	border-color: #dc3545;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active{
	outline: none;
	background-color: transparent;
	text-decoration: none;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active{
	border: 0;
	text-decoration: none;
}
.theme-btn-link-default{
	color: #343a40;
}
.theme-btn-link-default:hover{
	color: #dc3545;
}

/* radio */
.radio-none{
	display: none;
}

/* icon btn */
.btn-icon{
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.btn-icon span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.btn-icon span:after{
	content: '\F13E';
	font-family: "Material Design Icons";
	font-size: 16px;
	position: absolute;
	opacity: 0;
	right: 14px;
	transition: all 0.8s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}
.btn-icon:hover span{
	padding-right: 25px;
}
.btn-icon:hover span:after{
	opacity: 1;
}
.btn-icon.btn-icon-active span{
	padding-right: 25px;
}
.btn-icon.btn-icon-active span:after{
	opacity: 1;
}
.input-group-btn-icon{
	position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
    font-size: 28px;
}
.input-group label.error{
	position: absolute;
    bottom: -31px;
}
.input-group-validate{
	margin-bottom: 21px;
}

/* icons */
.mdi-bg{
	display: inline-block;
	text-align: center;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.mdi-bg-sm-sm{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
.mdi-bg-sm{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.mdi-bg-md{
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
}
.mdi-bg-lg{
	width: 150px;
	height: 150px;
	line-height: 150px;
	font-size: 80px;
}
.mdi-rotating-bg{
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.mdi-rotating-bg:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	margin: 0px auto;
	width: 100px;
	height: 100px;
	background-color: #eee;
	z-index: -1;
	animation: rotating 10s linear infinite;
	-webkit-animation: rotating 10s linear infinite;
	-moz-animation: rotating 10s linear infinite;
	-o-animation: rotating 10s linear infinite;
}
.mdi-rotating-bg.rotating-bg-light:before{
	background-color: rgba(255, 255, 255, 0.1);
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after{
	margin-left: 0 !important;
}

/* social media icons */
.smedia-icons{
	margin-bottom: 0;
}
.smedia-icons li{
	display: inline-block;
	list-style: none;
}
.smedia-icons li a{
	color: #fff;
}
.smedia-icons li a:hover i.theme-btn-default{
	background-color: #343a40;
	color: #fff;
}
.smedia-icons li a:hover i.theme-btn-default-two{
	background-color: #dc3545;
	color: #fff;
}

/* heading */
.section-heading{
	position: relative;
	margin-top: -5px;
}
.head-back-light{
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0px;
	margin: 0px auto;
	opacity: .05;
	font-size: 60px;
	user-select: none;
	font-weight: bold;
}
.head-after{
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}
.head-after:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 10px;
	height: 4px;
	background-color: #dc3545;
}
.head-after:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100%;
	height: 1px;
	background-color: #dc3545;
}
.head-after-white:before{
	background-color: #fff;
}
.head-after-white:after{
	border-bottom: 1px solid #fff;
}

/* bg */
.theme-bg-default{
	background-color: #dc3545;
}
.theme-bg-dark{
	background-color: #343a40;
}
.theme-bg-primary{
	background-color: #007bff;
}
.theme-bg-success{
	background-color: #28a745;
}
.theme-bg-info{
	background-color: #17a2b8;
}
.theme-bg-warning{
	background-color: #ffc107;
}
.theme-bg-orange{
	background-color: #ff7200;
}
.theme-bg-default-light{
	background-color: rgba(220, 53, 69, 0.1);
}
.theme-bg-dark-light{
	background-color: rgba(52, 58, 64, 0.1);
}
.theme-bg-white{
	background-color: #fff;
}
.theme-bg-white-light{
	background-color: rgba(255, 255, 255, 0.1);
}
.theme-bg-light{
	background-color: #eee;
}

/* badge */
.badge{
	border-radius: 0px;
	font-size: 14px;
}
.theme-badge-default{
	background-color: #dc3545;
	color: #fff;
}
.theme-badge-default:hover{
	background-color: #343a40;
	color: #fff;
}
.theme-badge-default-two{
	background-color: #343a40;
	color: #fff;
}
.theme-badge-default-two:hover{
	background-color: #dc3545;
	color: #fff;
}

/* text */
.theme-text-default{
	color: #dc3545;
}
.theme-text-dark{
	color: #343a40;
}
.theme-text-center{
	text-align: center;
}

/* margin */
.mt-30px{
	margin-top: 30px;
}
.mb-30px{
	margin-bottom: 30px;
}
.ml-30px{
	margin-left: 30px;
}
.mr-30px{
	margin-right: 30px;
}
.mt-60px{
	margin-top: 60px;
}
.mb-60px{
	margin-bottom: 60px;
}
.ml-60px{
	margin-left: 60px;
}
.mr-60px{
	margin-right: 60px;
}

/* padding */
.pt-30px{
	padding-top: 30px;
}
.pb-30px{
	padding-bottom: 30px;
}
.pl-30px{
	padding-left: 30px;
}
.pr-30px{
	padding-right: 30px;
}
.pt-60px{
	padding-top: 60px;
}
.pb-60px{
	padding-bottom: 60px;
}
.pl-60px{
	padding-left: 60px;
}
.pr-60px{
	padding-right: 60px;
}

/* display */
.theme-d-block{
	display: block;
}
.theme-d-inline-block{
	display: inline-block;
}
.theme-d-flex{
    display: -ms-flexbox;
    display: flex;
}

/* card */


.card{
	width: 100%;
	border-radius: 0px;
	padding: 30px;
	border: 0;
	display: inline-block;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.card.card-active,
.card:hover{
	background-color: #dc3545;
}
.card.card-active i,
.card.card-active i:before,
.card.card-active i:after,
.card.card-active p,
.card.card-active h1,
.card.card-active h2,
.card.card-active h3,
.card.card-active h4,
.card.card-active h5,
.card.card-active h6,
.card.card-active a,
.card.card-active a.btn,
.card.card-active li:after{
	color: #fff;
}
.card.card-active a.btn{
	color: #fff;
}
.card:hover i,
.card:hover i:before,
.card:hover i:after,
.card:hover p,
.card:hover h1,
.card:hover h2,
.card:hover h3,
.card:hover h4,
.card:hover h5,
.card:hover h6,
.card:hover a,
.card:hover li:after{
	color: #fff;
}
.card:hover .head-after:before{
	background-color: #fff;
}
.card:hover .head-after:after{
	border-bottom: 1px solid #fff;
}


/* card costumize */


.costumizeCard{
	height:40px;
	width: 100%;
	border-radius: 0px;
	margin-top:10px;
	padding:12px 10px;
	text-align:center;
	border: 0;
	display: inline-block;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.costumizeCard.card-active,
.costumizeCard:hover{
	background-color: #dc3545;
}
.costumizeCard.card-active i,
.costumizeCard.card-active i:before,
.costumizeCard.card-active i:after,
.costumizeCard.card-active p,
.costumizeCard.card-active h1,
.costumizeCard.card-active h2,
.costumizeCard.card-active h3,
.costumizeCard.card-active h4,
.carcostumizeCardd.card-active h5,
.costumizeCard.card-active h6,
.costumizeCard.card-active a,
.costumizeCard.card-active a.btn,
.costumizeCard.card-active li:after{
	color: #fff;
}
.costumizeCard.card-active a.btn{
	color: #fff;
}
.costumizeCard:hover i,
.costumizeCard:hover i:before,
.costumizeCard:hover i:after,
.costumizeCard:hover p,
.costumizeCard:hover h1,
.costumizeCard:hover h2,
.costumizeCard:hover h3,
.costumizeCard:hover h4,
.costumizeCard:hover h5,
.costumizeCard:hover h6,
.costumizeCard:hover a,
.costumizeCard:hover li:after{
	color: #fff;
}
.costumizeCard:hover .head-after:before{
	background-color: #fff;
}
.costumizeCard:hover .head-after:after{
	border-bottom: 1px solid #fff;
}

/* model */
.modal-content{
	border-radius: 0;
}
.modal-content iframe{
	width: 100%;
	height: 400px;
}

/* form control */
.form-control,
select{
	margin: 0px;
	padding: 10px 25px;
	border-radius: 0;
	height: auto;
	border: 1px solid #eee;
	color: #343a40;
	font-family: 'Roboto', sans-serif;
}
select.form-control{
	padding: 11.5px 21px;
}
.form-control:focus,
select:focus{
	outline: 0;
	border-color: rgba(52, 58, 64, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.col-form{
	padding: 5px;
}
.col-form [class*="col-"]{
	padding-right: 10px;
	padding-left: 10px;
}
label.error{
	color: #dc3545;
}
/**=========================
	END COMMON
=========================**/

/**=========================
	START LOADER
=========================**/
#loader{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: #ffffff;
	text-align: center;
}
#loader .rotating-bg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
#loader .rotating-bg:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	margin: 0px auto;
	width: 100px;
	height: 100px;
	background-color: #dc3545;
	z-index: -1;
	animation: rotating 2s linear infinite;
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
}
#loader .rotating-bg div{
	text-align: center;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 66px;
	color: #fff;
	margin-left: 30px;
    margin-right: 30px;
}
/**=========================
	END LOADER
=========================**/

/**=========================
	START NAV MENU
=========================**/
#nav-menu{
	background-color:#343a40;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	
	z-index: 9;
	text-transform: uppercase;
}
#nav-menu.header-fixed{

	position: fixed;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	top: 0;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
	animation: 1s menuFix;
	-webkit-animation: 1s menuFix;
	-moz-animation: 1s menuFix;
	-o-animation: 1s menuFix;
}
#nav-menu .logo{
	text-align: left;
	font-weight: 700;
	color: #343a40;
}
#nav-menu .logo img{
	margin-right: 10px;
}
#nav-menu .logo span.logo-icon{
	font-size: 30px;
	vertical-align: middle;
	color: #fff;
	margin-right: 7px;
}
#nav-menu .logo span.logo-text{
	font-size: 28px;
	vertical-align: middle;
	color: #fff;
}
#nav-menu .navbar{
	
	padding: 0px;
}
#nav-menu .nav-item{
 
	position: relative;
}
#nav-menu .nav-item.active a,
#nav-menu .nav-item a:hover,
#nav-menu .nav-item .nav-link.easing-click.active,
#nav-menu .nav-link.dropdown-toggle.active{
	
	color: #dc3545;
}
#nav-menu .nav-link{
	color: white;
	font-size: 15px;
	margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 15px;
	margin-right: 0px;
	padding-top: 11px;
	padding-bottom: 11px;
	font-weight: 500;
	
}
#nav-menu.header-fixed .nav-link{
	margin-top: 25px;
    margin-bottom: 20px;
}
#nav-menu.header-fixed .nav-link,
#nav-menu.header-fixed .logo span.logo-text{
	color: #343a40;
}
#nav-menu.header-fixed .nav-link.btn{
	color: #fff;
}
#nav-menu .nav-link.btn{
    padding: 10px 25px;
}
#nav-menu .nav-link.easing-click.btn.theme-btn-default.btn-icon.active,
#nav-menu .nav-link.btn:hover{
	
	color: #fff;
}
#nav-menu .dropdown-menu{
	margin: 0px;
	padding: 0;
	border-radius: 0px;

	font-size: 16px;
	min-width: 15rem;
	border: 0;
	border-top: 5px solid #dc3545;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
}
#nav-menu .dropdown-active a.dropdown-toggle{
	
	color: #dc3545;
}
#nav-menu .dropdown-menu .dropdown-item{
	padding: 15px 20px;
	color: #343a40;
	font-weight: 500;
	position: relative;
}
#nav-menu .dropdown.active .dropdown-menu a{
	
	color: #343a40;
}
#nav-menu .dropdown.active .dropdown-menu .dropdown-item.active,
#nav-menu .dropdown-menu .dropdown-item:hover,
#nav-menu .dropdown.active .dropdown-menu .dropdown-item:hover,
#nav-menu .dropdown-item.active,
#nav-menu .dropdown-item:active{
	
	color: #dc3545;
	background-color: #eee;
	border-radius: 0px;
}
#nav-menu .navbar-toggler{
	background-color: #dc3545;
	outline: 0;
	border: 0;
	margin: 20px 0px;
	padding: 10px 15px;
	border-radius: 0px;
	font-size: 100%;
    color: #fff;
    line-height: 1.5;
	
}
#nav-menu .navbar-toggler i{
 
	color: #fff;
}
#nav-menu .navbar-toggler[aria-expanded="true"] i:before{
	 
	content: "\f156";
}
.dropdown-toggle::after{
	 
	content: "\F140";
	position: absolute;
	font-family: "Material Design Icons";
	border: 0;
	color: #dc3545;
}
/**=========================
	END NAV MENU
=========================**/

/**=========================
	START SLIDER
=========================**/
#slider-carousel:hover{
	cursor: move;
}
#slider-carousel .carousel-item,
#slider-carousel .carousel-item:before{
	border-radius: 0px 0px 0px 250px;
}
#slider-carousel .carousel-item{
	height: 700px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eee;
}
#slider-carousel .carousel-item:before{
	content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
	background-color: rgba(52, 58, 64, 0.5);
}
#slider-carousel .carousel-item:after{
	content: "";
	position: absolute;
}
#slider-carousel .carousel-control-next-icon,
#slider-carousel .carousel-control-prev-icon{
	background-image: none;
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #343a40;
    font-size: 40px;
    display: none;
}
#slider-carousel:hover .carousel-control-next-icon,
#slider-carousel:hover .carousel-control-prev-icon{
	display: block;
}
#slider-carousel .carousel-control-next-icon:after{
	content: '\F142';
	font-family: "Material Design Icons";
}
#slider-carousel .carousel-control-prev-icon:after{
	content: '\F141';
	font-family: "Material Design Icons";
}
#slider-carousel .carousel-control-next,
#slider-carousel .carousel-control-prev{
	width: 60px;
}
#slider-carousel .carousel-indicators{
	display: none;
}
#slider-carousel .carousel-indicators li{
	background-color: #343a40;
}
#slider-carousel .carousel-caption{
	width: 50%;
	position: absolute;
	left: 50%;
    top: 50%;
    bottom: inherit;
    right: inherit;
	transform: translate(-50%, -50%);
	margin: 0px auto;
	text-align: left;
}
#slider-carousel h1{
	margin-bottom: 20px;
    font-weight: 700;
    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    color: #fff;
    font-size: 50px;
}
#slider-carousel p{
	margin-bottom: 30px;
	color: #fff;
	animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
}
#slider-carousel .slider-btn{
	animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
}
#slider-carousel .btn{
	margin: 5px;
}
#slider-carousel .slider-center-btn{
	position: absolute;
	z-index: 9;
	text-align: center;
	display: inline-block;
	width: 0px;
	margin: 0px auto;
	left: 0;
	right: 0;
	bottom: -20px;
}
#slider-carousel .slider-center-btn .btn{
	padding: 0px;
	width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100px;
}
#slider-carousel .slider-center-btn i{
	font-size: 30px;
}
/**=========================
	END SLIDER
=========================**/

/**=========================
	START BREADCRUMB
=========================**/
#breadcrumb{
	padding: 200px 0px 80px;
	text-align: center;
}
#breadcrumb.breadcrumb-bg{
	position: relative;
	background-image: url(../images/img-4.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}
#breadcrumb.breadcrumb-bg:before{
	content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
#breadcrumb .breadcrumb-item+.breadcrumb-item::before{
	color: #fff;
}
#breadcrumb h2{
	color: #fff;
}
#breadcrumb li{
	display: inline-block;
}
#breadcrumb li a{
	color: #dc3545;
}
#breadcrumb li a:hover{
	color: #fff;
}
#breadcrumb li.active{
	color: #fff;
}
/**=========================
	END BREADCRUMB
=========================**/

/**=========================
	START ERROR PAGE
=========================**/
#error-page{
	padding: 80px 0px 50px;
}
#error-page .error-page-item{
	margin-bottom: 30px;
	text-align: center;
}
/**=========================
	END ERROR PAGE
=========================**/

/**=========================
	START WHO WE ARE
=========================**/
#who-we-are{
	position: relative;
	padding: 80px 0px 50px;
}
#who-we-are:after{
	content: "";
	position: absolute;
	opacity: .3;
	top: 50%;
	bottom: 50%;
    left: 0px;
    width: 75px;
    height: 500px;
    z-index: -1;
    transform: translate(-50%, -50%);
	background-image: url('../images/dots.png');
}
#who-we-are .whoweare-item{
	padding-bottom: 30px;
}
#who-we-are .whoweare-item.pb-60px{
	padding-bottom: 60px; 
}
#who-we-are .whoweare-left h5{
	text-transform: capitalize;
}
#who-we-are h5 span{
	font-weight: 700;
}
#who-we-are h1{
	margin-bottom: 15px;
}
#who-we-are h1 span{
	font-weight: 700;
}
#who-we-are p{
	margin-bottom: 20px;
	font-weight: 500;
	color: #777;
}
#who-we-are .whoweare-left{
	padding-right: 80px;
}
#who-we-are .whoweare-left .whoweare-play-video i:before{
	margin-right: 10px;
	font-size: 50px;
	vertical-align: middle;
}
#who-we-are .whoweare-center-img1{
	position: relative;
}
#who-we-are .whoweare-center-img1 img{
	width: 95%;
}
#who-we-are .whoweare-center .whoweare-play-video{
	position: absolute;
	z-index: 9;
    bottom: 20px;
    right: 50px;
}
#who-we-are .whoweare-center .whoweare-play-video i:before{
	font-size: 50px;
}
#who-we-are .whoweare-center-img2{
	position: absolute;
	bottom: -15px;
	left: -70px;
	width: 75%;
	padding: 15px;
	background-color: #fff;
}
#who-we-are .whoweare-center-img2 img{
	width: 100%;
	padding-bottom: 30px;
}
#who-we-are .whoweare-right .card{
	margin-bottom: 15px;
	padding: 25px;
}
#who-we-are .whoweare-right .card h6{
	margin-bottom: 0px;
	font-size: 16px;
	text-transform: capitalize;
	line-height: 26px;
}
#who-we-are .whoweare-right .card i:before{
	margin-right: 5px;
	font-size: 100%;
}
#who-we-are .whoweare-right .card h4{
	margin-bottom: 15px;
}
#who-we-are .whoweare-right .card p{
	margin-bottom: 0px;
}
#who-we-are .whoweare-right .card:hover p{
	color: #fff;
}
#who-we-are .whoweare-right-btn{
	margin-top: 30px;
}
/**=========================
	END WHO WE ARE
=========================**/

/**=========================
	START CLIENTS
=========================**/
#clients{
	padding: 60px 0px;
}
#clients.clients-bg{
	background-color: rgba(0, 0, 0, 0.05);
}
#clients .client-item img{
	opacity: .2;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
#clients .client-item:hover{
	cursor: move;
}
#clients .client-item:hover img{
	opacity: 1;
}
/**=========================
	END CLIENTS
=========================**/

/**=========================
	START COUNTER
=========================**/
#counter{
	position: relative;
	padding: 80px 0px 50px;
}
#counter.theme-bg-default{
	background-image: url('../images/img-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#counter.theme-bg-default:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #dc3545;
	opacity: .9;
}
#counter.theme-bg-default h2,
#counter.theme-bg-default h5,
#counter.theme-bg-default p,
#counter.theme-bg-default i{
	color: #fff;
}
#counter .counter-item{
	position: relative;
	padding-bottom: 30px;
    transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
#counter .counter-item:after{
	display: block;
    content: "";
    clear: both;
}
#counter .counter-icon{
	float: left;
	margin-right: 30px;
}
#counter .counter-icon i:before{
	font-size: 50px;
}
#counter .counter-content{
	position: relative;
}
#counter .counter-content h2{
	margin-bottom: 10px;
	margin-right: 40px;
	text-align: right;
}
#counter .counter-content h5{
	margin-bottom: 0;
}
#counter .counter-content i{
	font-size: 30px;
	position: absolute;
	right: 0px;
}
#counter .counter-content .counter-up{
	margin-left: 35px;
}
/**=========================
	END COUNTER
=========================**/

/**=========================
	START SERVICES
=========================**/
#services{
	padding: 80px 0px 50px;
}
#services .text-center h2{
	margin-bottom: 40px;
}
#services .service-item{
	text-align: center;
	padding-bottom: 30px;
}
#services .service-count-text{
	position: absolute;
	left: 30px;
	top: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#services .service-count-text span{
	opacity: .05;
	font-size: 100px;
	line-height: 0;
}
#services .service-item .service-icon{
	margin-bottom: 10px;
}
#services .service-item i:before{
	color: #dc3545;
	font-size: 80px;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
#services .service-item .card:hover i:before,
#services .service-item .card-active i:before,
#services .service-item .card:hover .btn,
#services .service-item .card-active .service-count-text,
#services .service-item .card:hover .service-count-text{
	color: #fff;
}
#services .service-item h4{
	margin-bottom: 15px;
	text-transform: capitalize;
}
#services .service-item a{
	color: #dc3545;
}
#services .service-item .btn-active{
	color: #fff;
}
#services .service-item-single-item{
	margin-bottom: 30px;
}
#services .service-item-single{
	margin-bottom: 30px;
}
#services .service-item-single:last-child{
	margin-bottom: 0px;
}
#services .service-item-single img{
	width: 100%
}
#services .service-share-content{
	display: inline-block;
	margin-right: 10px;
}
#services .service-share-content:last-child{
	margin-right: 0px;
}
/**=========================
	END SERVICES
=========================**/

/**=========================
	START PORTFOLIO
=========================**/
#portfolio{
	padding: 80px 0px 50px;
}
#portfolio .filter-btn-group label{
	position: relative;
}
#portfolio .btn.btn-link{
	padding: 0px;
	margin: 0px 15px;
}
#portfolio .filter-btn-group label:after{
	content: "/";
	position: absolute;
	right: -20px;
}
#portfolio .filter-btn-group label:last-child:after{
	display: none;
}
#portfolio .filter-btn-group label.active{
	color: #dc3545;
}
#portfolio .filter-btn-group label:hover{
	cursor: pointer;
}
#portfolio .theme-shuffle{
    position: relative;
    overflow: hidden;
}
#portfolio .shuffle-image-item{
    padding-bottom: 30px;
}
#portfolio .shuffle-inner-warp{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}
#portfolio .shuffle-inner-warp.filter-lg{
	padding-bottom: calc(100% + 380px);
}
#portfolio .shuffle-inner-img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#portfolio .shuffle-inner-img:after{
    content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
#portfolio .shuffle-inner-img:hover:after,
#portfolio .shuffle-inner-img-active:after{
	content: "";
	background-color: #343a40;
	opacity: 0.7;
}
#portfolio .shuffle-image-item img{
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
}
#portfolio .shuffle-inner-content{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    padding: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 9;
}
#portfolio .shuffle-inner-content h3,
#portfolio .shuffle-inner-content i{
	color: #fff;
	margin: 10px;
}
#portfolio .shuffle-inner-img:hover .shuffle-inner-content,
#portfolio .shuffle-inner-img-active .shuffle-inner-content{
	opacity: 1;
}
#portfolio .portfolio-item-single-item{
	margin-bottom: 30px;
}
#portfolio .portfolio-item-single-position-relative{
	position: relative;
}
#portfolio .portfolio-item-single{
	margin-bottom: 30px;
}
#portfolio .portfolio-item-single:last-child{
	margin-bottom: 0px;
}
#portfolio .portfolio-item-single img{
	width: 100%
}
#portfolio .portfolio-share-content{
	display: inline-block;
	margin-right: 10px;
}
#portfolio .portfolio-share-content:last-child{
	margin-right: 0px;
}
#portfolio .portfolio-item-single .portfolio-item-single-icon{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 1;
    padding: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 9;
}
#portfolio .portfolio-item-single-date{
	position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 9;
}
#portfolio .portfolio-item-single-date a{
	color: #fff;
}
#portfolio .portfolio-item-card{
	width: 100%;
    padding: 30px;
    display: inline-block;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
}
#portfolio .portfolio-item-card h5{
    margin-bottom: 15px;
}
#portfolio .portfolio-item-card p{
    margin-bottom: 0px;
}
/**=========================
	END PORTFOLIO
=========================**/

/**=========================
	START TEAM
=========================**/
#team{
	padding: 80px 0px 50px;
}
#team .team-item{
    position: relative;
	margin-bottom: 30px;
}
#team .team-item:after{
    content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
#team .team-item:hover:after,
#team .team-item-active:after{
	content: "";
	background-color: #343a40;
	opacity: 0.7;
}
#team .team-img img{
	width: 100%;
}
#team .team-content{
	display: none;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	text-align: center;
	z-index: 9;
}
#team .team-item:hover .team-content,
#team .team-item-active .team-content{
	display: inline-block;
}
#team .team-header h3{
	margin-bottom: 15px;
	color: #fff;
}
#team .team-header p{
	margin-bottom: 30px;
	color: #fff;
}
/**=========================
	END TEAM
=========================**/

/**=========================
	START GET A QUOTE
=========================**/
#get-quote{
	padding: 80px 0px;
}
#get-quote.get-quote-bg{
	position: relative;
	background-image: url('../images/img-4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#get-quote.get-quote-bg:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #343a40;
	opacity: .9;
}
#get-quote .get-quote-item{
	margin: 0px auto;
	padding: 60px;
	background-color: #fff;
	width: 65%;
}
#get-quote.get-quote-bg h1,
#get-quote.get-quote-bg h2{
	color: #fff;
}
/**=========================
	END GET A QUOTE
=========================**/

/**=========================
	START FAQ
=========================**/
#faq{
	padding: 80px 0px 50px;
}
.faq-accordion{
	margin-bottom: 30px;
}
.collapse-btn i{
	position: absolute;
    right: 20px;
    top: 2px;
    color: #fff;
}
.collapse-btn button[aria-expanded="true"] i:before{
	content: "\f374";
	color: #fff;
}
.collapse-head{
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
.collapse-head:last-child{
	margin-bottom: 0px;
}
.collapse-head p{
	margin-bottom: 0;
	padding: 15px 20px;
}
.collapse-head button{
	color: #fff;
	background-color: #343a40;
    width: 100%;
    padding: 10px 25px;
    position: relative;
    text-align: left;
}
.collapse-head button:hover{
	cursor: pointer;
}
.faq-accordion button[aria-expanded="true"]{
	background-color: #dc3545;
	color: #fff;
}
#faq .faq-img img{
	width: 100%;
}
#faq .faq-item{
	margin-bottom: 30px;
}
/**=========================
	END FAQ
=========================**/

/**=========================
	START BLOG
=========================**/
#blog{
	padding: 80px 0px 50px;
}
#blog .blog-item{
	padding-bottom: 30px;
}
#blog .blog-item .card{
	padding: 0px;
}
#blog .blog-img{
	position: relative;
}
#blog .blog-img:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
#blog .card:hover .blog-img:after,
#blog .card.card-active .blog-img:after{
	content: "";
	background-color: #343a40;
	opacity: 0.7;
}
#blog .blog-img img{
	width: 100%;
}
#blog .blog-icon{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    padding: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 9;
}
#blog .card:hover .blog-icon,
#blog .card.card-active .blog-icon{
	opacity: 1;
}
#blog .blog-date{
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 9;
}
#blog .blog-date a{
	color: #fff;
}
#blog .blog-content{
	padding: 30px;
}
#blog .blog-content .blog-list li{
	position: relative;
	display: inline-block;
	margin-right: 10px;
}
#blog .blog-content .blog-list li:after{
	content: "/";
	position: absolute;
	right: -10px;
}
#blog .blog-content .blog-list li:last-child:after{
	display: none;
}
#blog .blog-content .blog-list li a:hover,
#blog .blog-title a:hover,
#blog .blog-btn a:hover{
	color: #ffd0d4;
}
#blog .blog-share-content{
	display: inline-block;
	margin-right: 10px;
}
#blog .blog-share-content:last-child{
	margin-right: 0px;
}
#blog .blog-comments-list{
	margin-bottom: 30px;
}
#blog .blog-comments-list li{
	list-style: none;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#blog .blog-comments-list li:last-child{
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
#blog .blog-comments-list .blog-comments-flex{
	display: flex;
}
#blog .blog-comments-list .blog-comments-flex .blog-comments-img{
	margin-right: 15px;
}
#blog .blog-comments-head{
	display: inline-block;
}
#blog .blog-comments-list .blog-comments-head span{
	font-size: 16px;
	margin-left: 30px;
}
#blog .blog-comments-reply{
	float: right;
	margin: 3px 0px;
}
#blog .blog-comments-reply:hover{
	color: #fff;
}
/* pagination */
.pagination{
	margin: 10px 0px 30px 0px;
	border-radius: 0;
}
.page-item{
	margin-right: 5px;
}
.page-item:last-child{
	margin-right: 0px;
}
.pagination .page-link{
	margin-left: 0px;
	padding: 10px 20px;
	color: #343a40;
	border: 0;
	line-height: 1.5;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.pagination .page-link,
.pagination .page-item,
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link{
	border-radius: 0px;
}
.pagination .page-item:focus,
.pagination .page-item:active,
.pagination .page-item:hover,
.pagination .page-link:focus,
.pagination .page-link:active,
.pagination .page-link:hover{
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
	background-color: #dc3545;
	color: #fff;
}
.pagination .page-item.active .page-link{
	background-color: #dc3545;
	border-color: #dc3545;
}

/* sidebar */
.sidebar,
.sidebar ul,
.sidebar ul li{
	list-style: none;
}
.sidebar .sidebar-item{
	margin-bottom: 40px;
}
.sidebar .sidebar-card{
	width: 100%;
	border-radius: 0px;
	padding: 30px;
	border: 0;
	display: inline-block;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.sidebar .sidebar-item:last-child{
	margin-bottom: 30px;
}
.sidebar .sidebar-categories{
	margin-bottom: 0px;
}
.sidebar .sidebar-categories li{
	list-style: none;
	margin-bottom: 20px;
}
.sidebar .sidebar-categories li:last-child{
	margin-bottom: 0px;
}
.sidebar .sidebar-categories li a:hover,
.sidebar .sidebar-categories li a.btn-icon-active{
	color: #dc3545;
}
#blog .recent-post-list{
	margin-bottom: 0px;
}
#blog .recent-post-list li{
	list-style: none;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#blog .recent-post-list li:last-child{
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
#blog .recent-post-list a{
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
#blog .recent-post-list a:hover h6{
	color: #dc3545;
}
#blog .recent-post-list .recent-post-list-flex{
	display: flex;
}
#blog .recent-post-list-flex .recent-post-list-img{
	margin-right: 15px;
}
#blog .recent-post-list-content h6{
	text-transform: inherit;
	margin-bottom: 10px;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}
#blog .recent-post-list-content p{
	margin-bottom: 0px;
}
.sidebar .sidebar-tags{
	margin-bottom: 0px;
}
.sidebar .sidebar-tags li{
	list-style: none;
	display: inline-block;
    margin-bottom: 5px;
}
.sidebar .sidebar-item.sidebar-item-tags{
	margin-bottom: 25px;
}
.sidebar .sidebar-item.sidebar-item-tags .sidebar-card{
	padding: 30px 30px 25px;
}
/**=========================
	END BLOG
=========================**/

/**=========================
	START PEOPLE SAYS
=========================**/
#people-says{
	padding: 80px 0px 50px;
}
#people-says .people-says-item{
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
}
#people-says .people-says-item:after{
	content: "\F756";
	font: normal normal normal 24px/1 "Material Design Icons";
	position: absolute;
	left: 10px;
	top: 35px;
	color: #343a40;
	font-size: 60px;
	opacity: .3;
}
#people-says .people-says-item:hover{
	cursor: move;
}
#people-says .slick-slide img{
	width: auto;
}
#people-says .people-says-content .card{
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px 0px rgba(52, 58, 64, 0.1);
}
#people-says .people-says-content .card p{
	font-style: italic;
}
#people-says .people-says-bottom{
	position: relative;
}
#people-says .people-says-bottom-icon{
	position: absolute;
	right: 0;
	top: -50px;
}
#people-says .people-says-bottom-title{
	text-align: right;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	padding-right: 100px;
}
#people-says .people-says-bottom-title h5{
	margin-bottom: 5px;
}
#people-says .people-says-bottom-title span{
	font-style: italic;
	font-size: 16px;
}
#people-says .slick-center .card{
	background-color: #dc3545;
}
#people-says .slick-center .card p{
	color: #fff;
}
#people-says .people-says-item.slick-slide.slick-current.slick-active.slick-center:after{
	color: #fff;
}
/**=========================
	END PEOPLE SAYS
=========================**/

/**=========================
	START CONTACT US
=========================**/
#contact-us .contact-us-col{
	margin: 0px;
	padding: 0px;
}
#contact-us iframe{
	width: 100%;
	height: 500px;
	margin-bottom: -6px;
	border: 0;
	outline: 0;
}
#contact-us #bottom-contact-us{
	padding: 80px 0px 50px;
}
#contact-us .bottom-contact-us-item{
	padding-bottom: 30px;
}
#contact-us .bottom-contact-us-item form{
	padding-left: 30px;
}
#contact-us .bottom-contact-us-item-info .card{
	padding: 60px;
}
#contact-us .bottom-contact-us-item-info .bottom-contact-us-item-info-head{
	margin-bottom: 10px;
}
#contact-us .bottom-contact-us-item-info-div{
	margin-bottom: 25px;
}
#contact-us .bottom-contact-us-item-info-div:last-child{
	margin-bottom: 0px;
}
#contact-us .bottom-contact-us-item-info p{
	margin-bottom: 0;
}
#contact-us .bottom-contact-us-item-info i{
	margin-right: 10px;
	color: #fff;
}
/**=========================
	END CONTACT US
=========================**/

/**=========================
	START FOOTER
=========================**/
#footer{
	padding: 80px 0px 50px;
}
#footer .footer-item{
	padding-bottom: 30px;
}
#footer .footer-logo{
	margin-bottom: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
#footer .footer-logo span.logo-icon{
	font-size: 30px;
	vertical-align: middle;
	color: #dc3545;
	margin-right: 7px;
}
#footer .footer-logo span.logo-text{
	font-size: 28px;
	vertical-align: middle;
	color: #fff;
}
#footer .smedia-icons a:hover i{
	background-color: #fff;
	color: #dc3545;
}
#footer .footer-about-content{
	margin-bottom: 30px;
}
#footer .footer-about-content p{
	color: #ffd0d4;
}
#footer h3{
	color: #fff;
	margin-bottom: 15px;
}
#footer .footer-item-list{
	margin-bottom: 14px;
}
#footer .footer-list ul li{
	list-style: none;
	color: #ffd0d4;
	margin-bottom: 16px;
}
#footer .footer-list ul li:last-child{
	margin-bottom: 0;
}
#footer .footer-list ul li a{
	color: #ffd0d4;
}
#footer .footer-list ul li a:hover,
#footer .footer-list ul li a.btn-icon-active{
	color: #fff;
}
#footer .footer-contact h6{
	color: #fff;
}
#footer .footer-contact .footer-contact-info-div{
	margin-bottom: 25px;
}
#footer .footer-contact .footer-contact-info-div:last-child{
	margin-bottom: 0;
}
#footer .footer-contact p{
	color: #ffd0d4;
	margin-bottom: 0px;
}
#footer .footer-contact h6 i{
	margin-right: 10px;
}
/**=========================
	END FOOTER
=========================**/

/**=========================
	START SUB FOOTER
=========================**/
#sub-footer{
	padding: 30px 0px 15px;
}
#sub-footer .backto-top-btn{
	position: absolute;
	left: 0;
	right: 0;
	top: -55px;
	margin: 0px auto;
	text-align: center;
	z-index: 9;
}
#sub-footer .sub-footer-left{
	text-align: left;
}
#sub-footer .sub-footer-right{
	text-align: right;
}
#sub-footer p,
#sub-footer ul{
	margin-bottom: 15px;
}
#sub-footer ul li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	position: relative;
}
#sub-footer ul li:before{
	content: "/";
	position: absolute;
	right: -15px;
	color: #fff;
}
#sub-footer ul li:last-child:before{
	display: none;
}
#sub-footer p,
#sub-footer a{
	color: #fff;
}
#sub-footer .sub-footer-left a:hover{
	color: #dc3545;
}
#sub-footer .sub-footer-right a{
	color: #dc3545;
}
#sub-footer .sub-footer-right a:hover{
	color: #fff;
}
/**=========================
	END SUB FOOTER
=========================**/